.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 36px auto;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 580px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 0 auto 38px auto;
  }

}